html, body {
  height: 100%;
  background-color: lightgray;
}

body {
  padding-top: 50px;
  overflow-y: scroll;
  overflow-x: auto;
}

.col-md-3,.col-md-6 {
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-nav>li>a {
  cursor: pointer;
}

#graph1-selector, #graph2-selector, #graph1-selector-one, #graph2-selector-one {
  margin: 20px;
  width: calc(100% - 30px);
}
#graph1-selector-one, #graph2-selector-one {
  font-size: 20px;
  display: none;
}

#control-panel {
  background-color: lightgray;
}

#controls {
  background-color: ghostwhite;
  height: 100%;
  overflow-y: scroll;
  overflow-x: auto;
  padding-right: 0;
  padding-left: 5px;
}

.container-fluid {
  height: 100%;
}

.row {
  height: 100%;
}

select.form-control {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

p {
  color: gray;
}

h3 {
  color: gray;
}
#map img {
  max-width: none;
}

/* definition for scrollable list of active entities */
nav ol {
  height: 300px;
  width: 200px;
}
nav ol {
  overflow: hidden;
  overflow-y: scroll;
}

.virtual-link {
  cursor: pointer;
}
.full-width{
  width: 100%;
}
.space-right{
  margin-right: 5px;
}

#lugui-wrapper {
  height: 100%;
  top: 0;
}
.lineup_container {
  width: 100%;
  height: 100%;
  position: relative;
}

#graph1,#graph2 {
  height: 300px; 
  width: 100%;
}
#info1,#info2 {
  margin-top: 5px;
}
#info1 .pagination,#info2 .pagination {
  margin: 0;
}
#info1 .container,#info2 .container {
  padding: 0;
}
#info1>.container>.container>.row+.row,#info2>.container>.container>.row+.row {
  display: none;
}
#info1>.container>.container>.row table td:first-child,#info2>.container>.container>.row table td:first-child {
  max-width: 150px;
  overflow: hidden
}

div.lu {
  top: 0;
}
div.lu-header {
  margin-bottom: 3px;
  line-height: 24px;
}
div.lu text {
  baseline-shift: -1px;
}
div.lu .toolbar i.fa-pencil-square-o,div.lu .toolbar i.fa-toggle-left,div.lu .number .toolbar i.fa-filter {
  display: none;
}
div.lu .header.rank .toolbar i.fa-times,
div.lu .header.string .toolbar i.fa-times,
div.lu .header.stack .toolbar i.fa-times {
  display: none;
}
div.lu .header.rank~.header.rank .toolbar i.fa-times,
div.lu .header.string~.header.string.toolbar i.fa-times,
div.lu .header.stack~.header.stack .toolbar i.fa-times {
  display: inline-block;
}

